.fish-tank {
  width: 100vw;
  height: 100vh;
  margin: -10px 0 0 0;
}

body {
  background-color: rgb(96, 125, 139);
  background-image: '/aquarium.jpg';
}

.video{
  transform: scaleX(-1);
  visibility: hidden
}

.mirror {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
